.axis path,
.axis line {
    fill: none;
    stroke: #000;
        shape-rendering: crispEdges;
}

.axis {
    font-size: 10px !important;    
}

rect.bar {
    cursor:pointer;    
}

.x.axis.g1 path {
    display: none;
}

div#left {
    float:left;
    width:49%;
}

div#right {
    float:right;
    width:49%;    
}

div#namewrapper {
    height:60px;    
}

div.spacing {
    padding-top:30px;    
}

.help-block {
    font-size:84%;    
}

.controls {
    min-height: 20px;
    padding: 19px;
    margin-top: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);    
}

circle.agg {
cursor: auto;
}

