svg.map {
    float: left;    
}

.background {
  fill: none;
  pointer-events: all;
}

#states {
  fill: #d4d4d4;
}

#states .active {
  fill: orange;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

circle {
    cursor:pointer    
}

.key {
  font: 8px sans-serif;
  position: absolute;
  top: 0;
  left: 0;
}

.caption {
  font-weight: bold;
}

.key path {
  display: none;
}
