table {
  font: normal 11px;
  color: #363636;
  text-align:left;
}

thead, tfoot {
    text-align:left;
    height:30px;
}

thead th, tfoot th {
    padding:5px;
}

table a {
    color: #333333;
    text-decoration:none;
}

table a:hover {
    text-decoration:underline;
}

tbody th, tbody td {
    padding:5px;
}

tbody td.x {
    font-weight:bold;
}
